<template name="accountCreate">
  <form class="main form page">
    <div class="form-group">
      <label class="control-label" for="login">Логин</label>
      <div class="controls">
        <input name="login" id="login" type="text" value="" placeholder="Логин" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="password">Пароль</label>
      <div class="controls">
        <input name="password" id="password" type="text" value="" placeholder="Пароль" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Создать аккаунт" class="btn btn-primary"/>
  </form>
</template>