<template name="acceptedOrderItem">
  <div class="order">
    <div class="order-content">
      <h3><span>Откуда: {{from}}</span><span>Куда: {{to}}</span><span>Тип посылки: {{type}}</span><span>Время создания заявки: {{submitted}}</span>
        {{#if isAdmin}}<span>Статус: {{status}}</span>{{/if}}
      </h3>
      <p>
        {{#if isAdmin}}<a href="{{pathFor 'orderEdit'}}">Редактировать</a>{{/if}}
      </p>
    </div>
    {{#if currentUser}}
      {{#unless isAdmin}}
        <a href="" class="discuss btn btn-default" id="order-done">Исполнено</a>
      {{/unless}}
    {{/if}}
  </div>
</template>