<template name="orderSubmit">
  <div class="page">
    <h4>Создание заявки</h4>
    <form class="main form">
      <div class="form-group">
        <label class="control-label" for="from">Откуда забрать заказ</label>
        <div class="controls">
          <input name="from" id="from" type="text" value="" required placeholder="Откуда забрать заказ" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="to">Куда доставить</label>
        <div class="controls">
          <input name="to" id="to" type="text" value="" required placeholder="Куда доставить" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="type">Тип посылки</label>
        <div class="controls">
          <input name="type" id="type" type="text" value="" placeholder="Тип посылки" class="form-control"/>
        </div>
      </div>
      <input type="submit" value="Создать заявку" class="btn btn-primary"/>
    </form>
  </div>
</template>