<template name="orderSubmit">
  <form class="main form page">
    <div class="form-group">
      <label class="control-label" for="акщь">Откуда забрать заказ</label>
      <div class="controls">
        <input name="from" id="from" type="text" value="" placeholder="Откуда забрать заказ" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="ещ">Куда доставить</label>
      <div class="controls">
        <input name="to" id="to" type="text" value="" placeholder="Куда доставить" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Создать заявку" class="btn btn-primary"/>
  </form>
</template>