<template name="orderEdit">
  <form class="main form page">
    <div class="form-group">
      <label class="control-label" for="from">Откуда забрать заказ</label>
      <div class="controls">
        <input name="from" id="from" type="text" value="{{from}}" placeholder="Откуда забрать заказ" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="to">Куда доставить</label>
      <div class="controls">
        <input name="to" id="to" type="text" value="{{to}}" placeholder="Куда доставить" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary submit"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Удалить заявку</a>
  </form>
</template>