<template name="adminUserEdit">
  <div class="page">
    <h4>Редактирование данных пользователя</h4>
    <form class="main form">
      <div class="form-group">
        <label class="control-label" for="login">Логин(не менее 3-х символов)</label>
        <div class="controls">
          <input name="login" id="login" type="text" value="{{username}}" placeholder="" class="form-control" required
                 pattern=".{3,}" autocomplete="off"/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="password">Пароль(если поле пустое, пароль останется без изменений)</label>
        <div class="controls">
          <input name="password" id="password" type="text" value="" placeholder="" class="form-control"
                 autocomplete="off"/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="name">Имя</label>
        <div class="controls">
          <input name="name" id="name" type="text" value="{{profile.name}}" placeholder="" class="form-control"
                 autocomplete="off"/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="surname">Фамилия</label>
        <div class="controls">
          <input name="surname" id="surname" type="text" value="{{profile.surname}}" placeholder=""
                 class="form-control" autocomplete="off"/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="tel">Номер телефона</label>
        <div class="controls">
          <input name="tel" id="tel" type="text" value="{{profile.tel}}" placeholder="" class="form-control"
                 autocomplete="off"/>
        </div>
      </div>
      <input type="submit" value="Изменить аккаунт" class="btn btn-primary"/>
      <hr/>
      <a class="btn btn-danger delete" href="#">Удалить пользователя</a>
    </form>
  </div>
</template>