<template name="adminOrderItem">
  <div class="order">
    <div class="order-content">
      <h3>
        <span>Откуда: {{from}}</span><span>Куда: {{to}}</span><span>Тип посылки: {{type}}</span>
        <span>Время создания заявки: {{submitted}}</span><span>Статус: {{status}}</span>
        {{#if ownerName}}
          <span>Принял пользователь: <a href="{{pathFor 'adminUserPage' username=ownerName}}">{{ownerName}}</a></span>
        {{/if}}
        {{#if accepted}}
          <span>Время принятия заявки: {{accepted}}</span>
        {{/if}}
        {{#if done}}
          <span>Время исполнения заявки: {{done}}</span>
          <span>Длительность исполнения заявки: {{orderExecutionDuration}}</span>
        {{/if}}
        <!--{{#if remainingTime}}-->
        <!--<span>Осталось: {{remainingTime}}</span>-->
        <!--{{/if}}-->
      </h3>
      <p>
        {{#if isPossibleEdit}}<a href="{{pathFor 'orderEdit'}}" id="order-edit-btn">Редактировать</a>{{/if}}
      </p>
    </div>
  </div>
</template>