<template name="adminUserOrdersList">
  <div class="orders page">
    <h4>Заявки пользователя <a href="{{pathFor 'adminUserPage'}}">{{username}}</a></h4>
    <div class="form-group">
      <select id="status-select" class="form-control width-auto">
        <option value="all" selected>Все</option>
        <option value="accepted">Принятые</option>
        <option value="done">Исполненные</option>
      </select>
    </div>
    {{#each orders}}
      {{> adminOrderItem}}
    {{/each}}
  </div>
</template>